#emojikey {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 99999999999999999999;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

#emojikey .container {
    color: #fafafa;
    text-align: center;
    padding: 1em;
    background: white;
    box-shadow: 0 0 32px black;
    position: relative;
    min-width: 340px;
}

#emojikey .spinner {
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;
}

#emojikey input[type=text] {
    background: inherit;
    text-align: inherit;
    margin-top: 0.5em;
    font-size: 18px;
    font-weight: 100;
    border: none;
}

#emojikey input[type=text]:focus {
    outline-width: 0;
}

#emojikey .results {
    list-style: none;
    padding: 0;
    height: 1.5em;
}

#emojikey .results li {
    display: inline-block;
    padding: 0.2em;
    margin: 0.05em;
    width: 1.5em;
    cursor: pointer;
}

#emojikey .results li.selected {
    border-bottom: 2px solid blue;
}
